doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Libraria
    style.
        body {
        background-color: #f4f4f4;
        color: #555;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin: 0;
        }
        .container {
        width: 80%;
        margin: auto;
        }
        #header {
        background-color: #222;
        color: white;
        }
        h1 {
        margin-top: 0;
        font-size: 40px;
        padding: 20px 0;
        text-align: center;
        margin-bottom: 0;
        }
        main {
        font-size: 25px;
        margin: 100px 0;
        }
        main p {
        margin-bottom: 40px;
        }
        p {
        text-transform: capitalize;
        text-align: center;
        }
        a {
        text-decoration: none;
        color: #fff;
        }
        button {
        background-color: #222;
        padding: 20px;
        width: 100%;
        }
        button:hover {
        background-color: rgb(11, 55, 51);
        }
header#header
    .container
        h1 Libraria
main
    .container
        p An e-library API with basic functionality and authentication
        button
            a(href='https://documenter.getpostman.com/view/19878327/Uyxbr9nw') Click to view documentation
